

:root{
    --selected: #badc58;
    --non-selected: #dff9fb;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    text-align: center;
}

.selected-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 550px;
    max-width: 100%;
}

.selected-container::before{
    content: '';
    background-color: var(--non-selected);
    height: 8px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.progress{
    background-color: var(--selected);
    height: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease-in-out;
}

.target{
    background-color: #7ed6df;
    border-radius: 30%;
    height: 30px;
    width:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--non-selected);
    transition: 0.4s ease-in-out;
    
}

.target.selected{
    border-color: var(--selected);
}

.btn:active{
    transform: scale(0.97);
}


.btn:disabled{
    background-color: var(--non-selected);
}
.btn{
    background-color: var(--selected);
    color: #fff;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    margin: 3px;
}
